---
import { CheckCircle } from "@lucide/astro";
---
<section id="beneficios" class="w-full py-12 md:py-24 lg:py-32 bg-gray-50" data-aos="fade-up">
  <div class="container px-4 md:px-6">
    <div class="flex flex-col items-center justify-center space-y-4 text-center" data-aos="fade-up" data-aos-delay="100">
      <div class="space-y-2">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl" data-aos="fade-right" data-aos-delay="200">
          Beneficios para su hotel
        </h2>
        <p class="max-w-[900px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed" data-aos="fade-left" data-aos-delay="300">
          Descubra cómo Smart Suite puede transformar la operación de su hotel
        </p>
      </div>
    </div>
    <div class="mx-auto grid max-w-5xl grid-cols-1 gap-8 md:grid-cols-2 mt-8">
      <div class="flex flex-col items-start gap-2" data-aos="zoom-in" data-aos-delay="400">
        <div class="flex items-center gap-2">
          <CheckCircle class="h-5 w-5 text-emerald-600" />
          <h3 class="text-xl font-bold">Optimización de operaciones</h3>
        </div>
        <p class="text-gray-500">
          Reduzca el tiempo dedicado a tareas administrativas y enfóquese en brindar una experiencia excepcional
          a sus huéspedes.
        </p>
      </div>
      <div class="flex flex-col items-start gap-2" data-aos="zoom-in" data-aos-delay="500">
        <div class="flex items-center gap-2">
          <CheckCircle class="h-5 w-5 text-emerald-600" />
          <h3 class="text-xl font-bold">Reducción de costos</h3>
        </div>
        <p class="text-gray-500">
          Identifique áreas de mejora y reduzca gastos innecesarios con análisis detallados.
        </p>
      </div>
      <div class="flex flex-col items-start gap-2" data-aos="zoom-in" data-aos-delay="600">
        <div class="flex items-center gap-2">
          <CheckCircle class="h-5 w-5 text-emerald-600" />
          <h3 class="text-xl font-bold">Mejora en la toma de decisiones</h3>
        </div>
        <p class="text-gray-500">
          Acceda a datos en tiempo real para tomar decisiones informadas que impulsen el crecimiento de su
          negocio.
        </p>
      </div>
      <div class="flex flex-col items-start gap-2" data-aos="zoom-in" data-aos-delay="700">
        <div class="flex items-center gap-2">
          <CheckCircle class="h-5 w-5 text-emerald-600" />
          <h3 class="text-xl font-bold">Satisfacción del cliente</h3>
        </div>
        <p class="text-gray-500">
          Ofrezca un servicio más eficiente y personalizado que se traduzca en mayor satisfacción y fidelidad de
          sus huéspedes.
        </p>
      </div>
    </div>
  </div>
</section>
