---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
	title="Smart Suite"
	description="Smart Suite - Better Management For Your Hotel Business"
	keywords="hotel management, suite management, room management, staff coordination"
>

<h1> START </h1>

</MainLayout>
